
.card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  
  .addemployeebtn{
    align-self: flex-end;
    padding: 0.5%;
  }


  .carditme{
    padding: 2%;
  }
  .footerdivd{
    /* align-self: flex-end; */
    align-items: flex-end;
  }
  .headcellin{
    padding-right: 1%;
    padding-left: 1%;
  }
  